*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFF;
    color: #8D96BD;
    font-family: 'Roboto', sans-serif;

}

.container {
    max-width: 990px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}


/* MAIN STYLES STARTS*/



.block__subtitle {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #3D4F9F;
}

.block__title {
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Quicksand', 'sans-serif';
    color: #3D4F9F;
}

.block__title--sm {
    font-size: 24px;
}

.block__title span {
    font-weight: 400;
}

.block__text {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.9em;
}

.block__text-14 {
    font-size: 14px;
}

.block__text-12 {
    font-size: 12px;
}

.text--white {
    color: #FFF;
}

.text--blue {
    color: #5E80FF;
}

.btn {
    height: 43px;
    padding: 0 15px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn--blue {
    padding: 13px 26px ;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
    background-color: #4C85FF;
    color: #FFF;
}

.btn--blue:hover {
    background-color: #D2E1FF;
    color: #4C85FF;
}

.btn--blue-icn {
    margin: 2px 0 0 7px;
    display: flex;
    align-items: center;
}

.btn--red {
    padding: 13px 26px ;
    background-color: #FFD7D7;
    color: #D43F3F;
    transition: all .2s ease;
}

.btn--red:hover {
    background-color: #F84D4D;
    color: #FFD7D7;
}

.btn__o-gray {
    padding: 13px 27px ;
    border: 1px solid #D1D1E4;
    color: #D1D1E4;
    font-weight: 700;
}

.btn__o-gray-nb {
    border: none;
}

.btn__o-gray:hover {
    background-color: #D1D1E4;;
    color: #FFF;
    font-weight: 700;
}

.btn__o-white {
    color: #565F82;
    background-color: #FFF;
}

.btn--main {
    padding: 13px 26px ;
    color: #3A79FF;
    background-color: #D2E1FF;
    transition: all .2s ease;
}

.btn--main:hover {
    color: #D2E1FF;
    background-color: #3A79FF;
}

.btn--acc {
    background-color: #E8ECF4;
    color: #7382A3;
    border: none;
    font-weight: 500;
}

.no-l-b {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.no-r-b {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* MAIN STYLES ENDS*/

/* HEADER STARTS */

.header {
    font-family: 'Quicksand', sans-serif;
}

.header__wrapper {
    max-width: 1240px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
}

.header__block {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 70px;
}

.nav {
    display: flex;
}

.nav a:last-child {
    margin-right: 0;
}

.nav__link {
    color: #697CA6;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-right: 45px;
    transition: color .2s ease;
    text-shadow: 0px 0px 5px #E6E6E6;
}

.nav__link.active {
    color: #5E81FE;
    font-weight: 700;
}

.nav__link:hover {
    color: #5E81FE;
}

.soc {
    margin-right: 45px;

}

.soc__link {
    margin-right: 37px;
}

.soc a:last-child {
    margin-right: 0;
}

/* HEADER ENDS */

/* INTRO STARTS */

.intro {
    background-size: cover;
    background-position: center;
}

.intro__content {
    height: 570px;
    display: flex;
    padding-top: 95px;
    justify-content: center;
}

.intro__block {
    max-width: 585px;
    width: 100%;
    text-align: center;
}

.intro__subtitle {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #3D4F9F;
}

.intro__title {
    margin: 16px 0 20px;
    font-size: 48px;
    font-weight: 300;
    font-family: 'Quicksand', 'sans-serif';
    color: #3D4F9F;
}

.intro__title span {
    font-weight: 500;
}

.text--white {
    color: #FFF;
}

.intro__text {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.9em;
}

.play__btn__wrapper {
    display:flex;
}

.play__btn {
    height: 52px;
    padding: 0 21px;
    border-radius: 50%;
    box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    transition: background-color .2s ease;
}

.play__btn:hover {
    background-color: #D8E3FE;
}


/* INTRO ENDS */

/* SPONSORS SECTION STARTS */

.sponsors__wrapper {
    max-width: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 0;
}

.sponsors__block a {
    margin-right: 74px;
}

.sponsors__block a:last-child {
    margin-right: 0;
}

.sponsors__img {
}

.sponsors__link {
    display:inline-block;
}


/* SPONSORS SECTION ENDS */


/* PLANS SECTION STARTS */

.plans {
    padding: 200px 0;
    background-color: #F5F8FF;
}


.plans__container {
    padding: 0 calc(50% - 450px);
}

.plans__wrapper {
    display: flex;
    align-items: center;
}

.plans__actions {
    margin-top: 50px;
    display: flex;
}

.plans__actions .btn.btn__o-gray {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.plans__actions .btn.btn__blue {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.plans__block {
    margin-right: 55px;
    max-width: 415px;
}

.plans-img {
    height: 490px;
}

/* PLANS  SECTION ENDS */

/* ABOUT SECTION STARTS */

.about {
    padding: 170px 0;
}

.about__container {
    max-width: 790px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.about__clouds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.about__heading {
    margin-bottom: 90px;
    text-align: center;
}

.about__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.about__block {
    width: 25%;
    text-align: center;
    position: relative;
}

.about__block:after {
    width: 28px;
    height: 1px;
    background-color: #DAE4FE;
    position: absolute;
    top: 45%;
    right: 0;
    transform: translateY(-50%);
    content: '';
}

.about__block:last-child:after {
    display: none;
}

.about__item {
    width: 140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about__title {
    margin-bottom: 30px;
    font-weight: 700;
    color: #4074F8;
}

.about__text {
    font-weight: 600;
    font-size: 11px;
    color: #ADB3CB;
    line-height: 2em;

}

.about__img {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #F1F5FF;
}

.about__actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__actions-separator {
    margin: 0 16px;
    padding: 0 30px;
    font-size: 11px;
    font-weight: 500;
    color: #ADB3CB;
    text-transform: uppercase;
    position: relative;
}

.about__actions-separator:before {
    position: absolute;
    height: 1px;
    width: 15px;
    background-color: #DAE4FE;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: '';

}

.about__actions-separator:after {
    position: absolute;
    height: 1px;
    width: 15px;
    background-color: #DAE4FE;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    content: '';
}
/* ABOUT SECTION ENDS */

/* PRODUCTIVITY SECTION STARTS */

.productivity__wrapper {
    display: flex;
    align-items: stretch;
}

.productivity {
}

.productivity__block-left {
    width: 50%;
    background-color: #6888FF;
    display: flex;
    flex-direction: row-reverse;
}

.productivity__block-right {
    width: 50%;
    background-color: #E9EFFF;
    display: flex;
}

.productivity__item {
    margin: 66px 90px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand', 'sans-serif';
}

.productivity__item {
    margin: 66px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand', 'sans-serif';
    max-width: 260px;

}

.left-item {
    align-items: flex-end;
    text-align: right;
}

.right-item {
    align-items: flex-start;
    text-align: left;
}

.productivity__title {
    font-size:  48px;
    font-weight: 400;
    margin: 20px 0;
}

.productivity__text {
    letter-spacing: 0.03em;
    line-height: 1.3em;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
}

/* PRODUCTIVITY SECTION ENDS */


/* BLOG SECTION STARTS */

.blog {
    padding: 100px 0 200px;
    background-color: #F5F8FF;
}

.blog__container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.blog__heading {
    text-align: center;
    margin-bottom: 95px;
}

.blog__title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #3D4F9F;
    margin-bottom: 32px;
}

.blog__wrapper {
    padding: 63px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 15px 50px #EFF4FF;
}

.image__block {
    display: grid;
    max-width: 407px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 9px;
    margin-right: 67px;
}

.img_1 {
    grid-area: 1 / 1 / 3 / 2;
}

.img_2 {
    grid-area: 1 / 2 / 2 / 3;
}

.img_3 {
    grid-area: 2 / 2 / 3 / 3;
}

.text__block {
    max-width: 407px;
}

.blog__actions {
    margin-top: 36px;
}

.blog__actions a:first-child {
    margin-right: 3px;
}
/* BLOG SECTION ENDS */


/* QUOTES SECTION STARTS */

.quotes {
    padding: 140px 0 140px;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}

.quotes__container {
    max-width: 888px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.quotes__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.quotes__block {
    max-width: 425px;
}

.quotes__text__block {
    max-width: 333px;
}

.quotes__block__wrapper {
    width: 100%;
    padding: 47px 70px;
    background-color: #FFF;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 5px 50px #F3F5FA;
    filter: drop-shadow(0px 15px 50px #D4DCF1);
}

.quotes__user__img {
    display: flex;
    justify-content: center;
}

.quotes__user__img img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* QUOTES SECTION ENDS */

/* HELP SECTION STARTS */

.help {

}

.help__heading {
    text-align: center;
    margin-bottom: 50px;
}

.help__container {
    margin: 0 auto;
    max-width: 743px;
    width: 100%;
    padding: 170px 0;
}

.accordion {

}

.accordion__item {

}

.acc__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px 0 20px 0;
}


.acc__title:before {
    content: "+";
    font-size: 32px;
    margin: 0 24px;
}


.acc__active__title:before {
    content: "-";
}

.acc__content {
    padding: 10px 15px 16px 80px;
    display: none;
    align-items: center;
    justify-content: center;
}

.acc__text {
    margin-right: 60px;
    max-width: 391px;
}

.acc__content.show {
    display: flex;
    border-bottom: 1px solid #D8E3FE;
}

/* HELP SECTION ENDS */


/* GET STARTED SECTION STARTS */

.get__started {
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    padding: 92px 0;
    color: #FFF;
}

.get__started__container {
    max-width: 712px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    background-image: url('img/get__started__clouds.png');
}

.get__started__wrapper {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.get__started__actions {
    margin-top: 55px;
    display: flex;
}

.get__started__clouds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* GET STARTED SECTION ENDS */

