*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: #FFF;
    background-color: #F6F9FC;
}

/* Main styles starts */

.container {
    margin: 0 auto;
    width: 1280px;
}

.section__title {
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    color: #45515F;
}

.section__footnote {
    font-size: 13px;
    font-weight: 300px;
    color: #45515F;
    text-align: center;
}

.btn {
    padding: 21px 44px;
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border:none;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gradient__btn {
    background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF7347 73.78%);
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    font-weight: 700;

}

.login__btn {
    padding: 18px 29px;
    font-size: 13px;
    font-weight: 500;
    background-color: #FF7B00;
    transition: background-color .3s ease;
}

.login__btn:hover{
    background-color: #FA8D29;
}

.gray__txt-13 {
    font-size: 13px;
    font-weight: 300px;
    color: #45515F;
}

.yellow__span span {
    color: #FFC83E;
}

.orange__span span {
    color: #FF7B00;
}

.red__span span {
    color: #FA5914;
}

/* Main styles ends */

/* Header section starts */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.logo {

}

.texted-logo {
    font-weight: 400;
    font-size: 33px;
    text-decoration: none;
    line-height: 0.79em;
    color: #FFF;
}

.texted-logo span {
    font-weight: 600;
}

.header__menu a:last-child {
    margin-right: 0;
}

.header__menu__item {
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    margin-right: 56px;
}

/* Header section ends */

/* Intro section starts */

.intro {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.intro__wrapper {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.hot-offer__btn {
    background-color: #FFF;
    color: #000;
    opacity: 0.95;
    border-radius: 12px;
    padding: 0 0 0 8px;
    margin-top: 100px;

}

.hot-offer-fire {
    position: relative;
    top: -10px;
}

.hot-offer__text {
    font-size: 22px;
    font-weight: 500;
    margin: 15px 23px 15px 10px;
}

.intro__heading {
    max-width: 477px;
}

.intro__title {
    margin: 20px 0 0 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.1em;
    text-transform: uppercase;
}

.intro__subtitle {
    font-size: 27px;
    font-weight: 400;
    line-height: 1.33em;
    margin-bottom: 120px;
}

.intro__footnote {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4em;
    max-width: 300px;
}

.intro__block {

}

.credit-processing__rectangle {
    background-color: #FFF;
    opacity: 0.9;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    max-width: 428px;
    padding: 30px 23px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 65px;
}

.ranges__dummy {
    background-color: gray;
    width: 381px;
    height: 289px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.make-request__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.processing-result {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
}

.result__block {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.result__subblock {
}
    
.result__content {
    color:orange;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.result__title {
    margin: 0 0 5px 0;
}

.girl__bg {
    position: absolute;
    top: 52.7%;
    left: 53%;
    transform: translate(-50%, -50%);
}

/* Intro section ends */

/* Best offer section starts */

.best__offer {
    padding: 55px 0;
}

.best__offer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 0 45px 0;
}

.best__offer__block {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    opacity: 0.95;
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    backdrop-filter: blur(6px);
    min-width: 408px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    padding: 30px 0;
}

.best__offer__block__title {
    color: #45515F;
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 25px 0;
}


.best__offer__block__content {
    display: flex;
    flex-direction: column;

}

.b__o__b__content__wrapper {
    display: flex;
    flex-wrap: wrap;
    color: #45515F;
}

.b__o__b__content__wrapper:first-child {
    margin-bottom: 15px;
}

.b__o__b__content__wrapper span {
    font-weight: 500;
}

.b__o__b__content__wrapper img {
    margin-right: 10px;
}

.b__o__b__content__wrapper p{
    font-weight: 300;
    font-size: 15px;
    margin: 0;
}



/* Best offer section ends */


